<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Enter Your Signup Information!</h3>
  </div>
  <div class="modal-body">
    <form name="signupForm">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" ng-model="user.firstName"name="firstName" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" ng-model="user.lastName"name="lastName" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="name">Username:</label>
        <input type="text" class="form-control" ng-model="user.username"name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="pass">Password:</label>
        <input type="password" class="form-control" ng-model="user.pass"name="pass" placeholder="Password">
      </div>
      <div class="form-group row">
        <label class="col-md-2" for="weight">Weight:</label>
        <div class="col-md-8">
          <input type="number" class="form-control" ng-model="user.weight"name="weight" placeholder="Weight">
        </div>
        <div class="col-md-2">
          <ui-select ng-model="signup.selected.value" on-select="signup.selectedMetric($item, $model)"name="metric">
            <ui-select-match>
              <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in signup.user.metricChoices">
              <span ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="form-group">
        <label for="height">Height:</label>
        <input type="number" class="form-control" ng-model="user.height"name="height" placeholder="Height in Inches">
      </div>
      <div class="form-age">
        <label for="age">Age:</label>
        <input type="number" class="form-control" ng-model="user.age"name="age" placeholder="Age">
      </div>
      </form>
      <div class="modal-footer">
        <button id="signUpBtn"type="button" ng-click="signup.signup(user, '/home'); user=null" class="btn btn-primary">Signup</button>
    </div>
  </div>
</div>
