<div class="row">
  <div class="panel panel-default" ng-controller="previewController as preview">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Review Your Plan!</h3>
    </div>
    <div class="panel-body">
      <div id="reviewPlan" class="row col-md-12 text-center">
        <h3 ng-if="planName">{{planName}}</h3>
        <h4 ng-if="planLength"><small>{{planLength}} weeks long</small></h4>
        <div class="row">
          <form class="col-md-3" editable-form name="editableDay1" onaftersave="saveDay(day1)" ng-if="day1">
            <div class="buttons">
              <button type="button" class="btn btn-default" ng-click="editableDay1.$show()" ng-show="!editableDay1.$visible">Edit</button>
            <span ng-show="editableDay1.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableDay1.$waiting">Save</button>
              <button type="button" class="btn btn-default" ng-disabled="editableDay1.$waiting" ng-click="editableDay1.$cancel()">Cancel</button>
            </span>
            </div>
            <div ng-if="day1.rest == true">
            <h4>Day 1 <br><small><span editable-text="day1.name">{{day1.name}}</span></small></h4>
            <hr>
            <p>Rest Day: <span editable-checkbox="day1.rest" e-title="Rest Day?">{{day1.rest}}</span></p>
          </div>
          <div ng-if="day1.rest == false">
            <h4>Day 1 <br><small><span editable-text="day1.name">{{day1.name}}</span></small></h4>
            <p>Rest Day: <span class="planText" editable-checkbox="day1.rest" e-title="Rest Day?">{{day1.rest}}</span></p>
            <hr>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="exercise in day1.exercises">
                <p><b><span editable-text="exercise.name"  e-uib-typeahead="exercises for exercises in planMaker.getExercise($viewValue) | limitTo:8"  onbeforesave="getExerciseId($data, exercise)">{{exercise.name}}</span></b></p>
                <br>
                <p>Sets: <span class="planText" editable-number="exercise.numOfSets" e-min="0">{{exercise.numOfSets}}</span>
                Reps: <span class="planText" editable-number="exercise.numOfReps" e-min="0">{{exercise.numOfReps}}</span></p>
              </li>
            </ul>
          </div>
        </form>
        <form class="col-md-3" editable-form name="editableDay2" onaftersave="saveDay(day2)" ng-if="day1">
          <div class="buttons">
            <button type="button" class="btn btn-default" ng-click="editableDay2.$show()" ng-show="!editableDay2.$visible">Edit</button>
          <span ng-show="editableDay2.$visible">
          <button type="submit" class="btn btn-primary" ng-disabled="editableDay2.$waiting">Save</button>
            <button type="button" class="btn btn-default" ng-disabled="editableDay2.$waiting" ng-click="editableDay2.$cancel()">Cancel</button>
          </span>
          </div>
          <div ng-if="day2.rest == true">
          <h4>Day 2 <br><small><span editable-text="day2.name">{{day2.name}}</span></small></h4>
          <hr>
          <p>Rest Day: <span editable-checkbox="day2.rest" e-title="Rest Day?">{{day2.rest}}</span></p>
        </div>
        <div ng-if="day2.rest == false">
          <h4>Day 2 <br><small><span editable-text="day2.name">{{day2.name}}</span></small></h4>
          <p>Rest Day: <span class="planText" editable-checkbox="day2.rest" e-title="Rest Day?">{{day2.rest}}</span></p>
          <hr>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="exercise in day2.exercises">
              <p><b><span editable-text="exercise.name"  e-uib-typeahead="exercises for exercises in planMaker.getExercise($viewValue) | limitTo:8"  onbeforesave="getExerciseId($data, exercise)">{{exercise.name}}</span></b></p>
              <br>
              <p>Sets: <span class="planText" editable-number="exercise.numOfSets" e-min="0">{{exercise.numOfSets}}</span>
              Reps: <span class="planText" editable-number="exercise.numOfReps" e-min="0">{{exercise.numOfReps}}</span></p>
            </li>
            </ul>
          </div>
        </form>
        <form class="col-md-3" editable-form name="editableDay3" onaftersave="saveDay(day3)" ng-if="day1">
          <div class="buttons">
            <button type="button" class="btn btn-default" ng-click="editableDay3.$show()" ng-show="!editableDay3.$visible">Edit</button>
          <span ng-show="editableDay3.$visible">
          <button type="submit" class="btn btn-primary" ng-disabled="editableDay3.$waiting">Save</button>
            <button type="button" class="btn btn-default" ng-disabled="editableDay3.$waiting" ng-click="editableDay3.$cancel()">Cancel</button>
          </span>
          </div>
          <div ng-if="day3.rest == true">
          <h4>Day 3 <br><small><span editable-text="day3.name">{{day3.name}}</span></small></h4>
          <hr>
          <p>Rest Day: <span editable-checkbox="day3.rest" e-title="Rest Day?">{{day3.rest}}</span></p>
        </div>
        <div ng-if="day3.rest == false">
          <h4>Day 3 <br><small><span editable-text="day2.name">{{day3.name}}</span></small></h4>
          <p>Rest Day: <span class="planText" editable-checkbox="day3.rest" e-title="Rest Day?">{{day3.rest}}</span></p>
          <hr>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="exercise in day3.exercises">
              <p><b><span editable-text="exercise.name"  e-uib-typeahead="exercises for exercises in planMaker.getExercise($viewValue) | limitTo:8"  onbeforesave="getExerciseId($data, exercise)">{{exercise.name}}</span></b></p>
              <br>
              <p>Sets: <span class="planText" editable-number="exercise.numOfSets" e-min="0">{{exercise.numOfSets}}</span>
              Reps: <span class="planText" editable-number="exercise.numOfReps" e-min="0">{{exercise.numOfReps}}</span></p>
            </li>
            </ul>
          </div>
        </form>
          <div class="col-md-3" ng-if="day4.rest == true">
            <h4>Day 4 <br><small>{{day4.name}}</small></h4>
            <hr>
            <p>Rest Day</p>
          </div>
          <div class="col-md-3" ng-if="day4.rest == false">
            <h4>Day 4 <br><small>{{day4.name}}</small></h4>
            <hr>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="exercise in day4.exercises">
                <b>{{exercise.name}}</b>
                <br>
                Sets: {{exercise.numOfSets}} Reps: {{exercise.numOfReps}}
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 clearfix" ng-if="day5.rest == true">
            <h4>Day 5 <br><small>{{day5.name}}</small></h4>
            <hr>
            <p>Rest Day</p>
          </div>
          <div class="col-md-4 clearfix" ng-if="day5.rest == false">
            <h4>Day 5 <br><small>{{day5.name}}</small></h4>
            <hr>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="exercise in day5.exercises">
                <b>{{exercise.name}}</b>
                <br>
                Sets: {{exercise.numOfSets}} Reps: {{exercise.numOfReps}}
              </li>
            </ul>
          </div>
          <div class="col-md-4" ng-if="day6.rest == true">
            <h4>Day 6 <br><small>{{day6.name}}</small></h4>
            <hr>
            <p>Rest Day</p>
          </div>
          <div class="col-md-4" ng-if="day6.rest == false">
            <h4>Day 6 <br><small>{{day6.name}}</small></h4>
            <hr>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="exercise in day6.exercises">
                <b>{{exercise.name}}</b>
                <br>
                Sets: {{exercise.numOfSets}} Reps: {{exercise.numOfReps}}
              </li>
            </ul>
          </div>
          <div class="col-md-4" ng-if="day7.rest == true">
            <h4>Day 7 <br><small>{{day7.name}}</small></h4>
            <hr>
            <p>Rest Day</p>
          </div>
          <div class="col-md-4" ng-if="day7.rest == false">
            <h4>Day 7 <br><small>{{day7.name}}</small></h4>
            <hr>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="exercise in day7.exercises">
                <b>{{exercise.name}}</b>
                <br>
                Sets: {{exercise.numOfSets}} Reps: {{exercise.numOfReps}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
