<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title text-center">Review Your Plan!</h3>
  </div>
  <div class="modal-body">
    <div id="reviewPlan" class="row text-center">
      <h3 class="text-center">{{planMaker.planName}}</h3>
      <h4 class="text-center"><small>{{planMaker.planLength}} weeks long</small></h4>
      <div class="col-md-3 border" ng-if="planMaker.day1.rest == true">
        <h5>Day 1</h5>
        <hr>
        <p>Rest Day</p>
      </div>
      <div class="col-md-3 border" ng-if="planMaker.day1.rest == false">
        <h5>Day 1</h5>
          <hr>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="exercise in planMaker.day1.exercises">
            {{exercise.name}}
            <br>
            Sets:{{exercise.sets}} Reps:{{exercise.reps}}
          </li>
        </ul>
      </div>
      <div class="col-md-3 border" ng-if="planMaker.day2.rest == true">
        <h5>Day 2</h5>
          <hr>
        <p>Rest Day</p>
      </div>
      <div class="col-md-3 border" ng-if="planMaker.day2.rest == false">
        <h5>Day 2</h5>
          <hr>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="exercise in planMaker.day2.exercises">
            {{exercise.name}}
            <br>
            Sets:{{exercise.sets}} Reps:{{exercise.reps}}
          </li>
        </ul>
      </div>
      <div class="col-md-3 border" ng-if="planMaker.day3.rest == true">
        <h5>Day 3</h5>
          <hr>
        <p>Rest Day</p>
      </div>
      <div class="col-md-3 border" ng-if="planMaker.day3.rest == false">
        <h5>Day 3</h5>
          <hr>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="exercise in planMaker.day3.exercises">
            {{exercise.name}}
            <br>
            Sets:{{exercise.sets}} Reps:{{exercise.reps}}
          </li>
        </ul>
      </div>
      <div class="col-md-3 border" ng-if="planMaker.day4.rest == true">
        <h5>Day 4</h5>
          <hr>
        <p>Rest Day</p>
      </div>
      <div class="col-md-3 border" ng-if="planMaker.day4.rest == false">
        <h5>Day 4</h5>
          <hr>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="exercise in planMaker.day4.exercises">
            {{exercise.name}}
            <br>
            Sets::{{exercise.sets}} Reps:{{exercise.reps}}
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-4 border" ng-if="planMaker.day5.rest == true">
          <h5>Day 5</h5>
            <hr>
          <p>Rest Day</p>
        </div>
        <div class="col-md-4 border" ng-if="planMaker.day5.rest == false">
          <h5>Day 5</h5>
            <hr>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="exercise in planMaker.day5.exercises">
              {{exercise.name}}
              <br>
              Sets:{{exercise.sets}} Reps:{{exercise.reps}}
            </li>
          </ul>
        </div>
        <div class="col-md-4 border" ng-if="planMaker.day6.rest == true">
          <h5>Day 6</h5>
            <hr>
          <p>Rest Day</p>
        </div>
        <div class="col-md-4 border" ng-if="planMaker.day6.rest == false">
          <h5>Day 6</h5>
            <hr>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="exercise in planMaker.day6.exercises">
              {{exercise.name}}
              <br>
              Sets:{{exercise.sets}} Reps:{{exercise.reps}}
            </li>
          </ul>
        </div>
        <div class="col-md-4 border" ng-if="planMaker.day7.rest == true">
          <h5>Day 7</h5>
            <hr>
          <p>Rest Day</p>
        </div>
        <div class="col-md-4 border" ng-if="planMaker.day7.rest == false">
          <h5>Day 7</h5>
            <hr>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="exercise in planMaker.day7.exercises">
              <b>{{exercise.name}}</b>
              <br>
              Sets:{{exercise.sets}} Reps:{{exercise.reps}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
