<div class="row hidden" id="ideal" ng-controller="calculatorController as calculator">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <h3>Ideal Bodyweight Calculator</h3>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="number" class="form-control" name="feet" ng-model=user.feet>
                <div class="input-group-addon">
                  ft.
                </div>
              </div>
            </div>
            <div class="form-group margin1">
              <div class="input-group">
                <input type="number" class="form-control" name="in" ng-model=user.inch>
                <div class="input-group-addon">
                  in.
                </div>
              </div>
            </div>
            <select class="form-control margin1" ng-model="user.option">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </form>
          <button class="btn btn-default margin1" ng-click="calculator.computeIdeal(user)">Compute Ideal Bodyweight</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6" ng-if="calculator.male">
        <div class="panel pannel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h3>The ideal bodyweight</h3>
            </div>
          </div>
          <table class="table">
            <tr>
              <th class="text-center">
                Body Fat Percentage
              </th>
              <th class="text-center">
                Bodyweight (lbs.)
              </th>
            </tr>
            <tr>
              <td>
                5.5%
              </td>
              <td>
                {{calculator.fivePercent}}
              </td>
            </tr>
            <tr>
              <td>
                8%
              </td>
              <td>
                {{calculator.eightPercent}}
              </td>
            </tr>
            <tr>
              <td>
                10%
              </td>
              <td>
                {{calculator.tenPercent}}
              </td>
            </tr>
            <tr>
              <td>
                12%
              </td>
              <td>
                {{calculator.twelvePercent}}
              </td>
            </tr>
            <tr>
              <td>
                15%
              </td>
              <td>
                {{calculator.fifteenPercent}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-xs-offset-3 col-xs-6" ng-if="calculator.female">
        <div class="panel panel-body">
          <div class="panel-heading">
            <div class="panel-title">
              <h3>Your Ideal Bodyweight is</h3>
            </div>
          </div>
          <table class="table">
            <tr>
              <th class="text-center">
                Body Fat Percentage
              </th>
              <th class="text-center">
                Bodyweight (lbs.)
              </th>
            </tr>
            <tr>
              <td>
                12%
              </td>
              <td>
                {{calculator.twelvePercent}}
              </td>
            </tr>
            <tr>
              <td>
                15%
              </td>
              <td>
                {{calculator.fifteenPercent}}
              </td>
            </tr>
            <tr>
              <td>
                18%
              </td>
              <td>
                {{calculator.eighteenPercent}}
              </td>
            </tr>
            <tr>
              <td>
                21%
              </td>
              <td>
                {{calculator.twentyOnePercent}}
              </td>
            </tr>
            <tr>
              <td>
                24%
              </td>
              <td>
                {{calculator.twentyFourPercent}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
