<div class="row hidden" id="bmi" ng-controller="calculatorController as calculator">
  <div class="container">
    <div class="jumbotron text-center">
      <h3>BMI</h3>
      <div class="input-group col-xs-offset-4 col-xs-4">
        <form class="form-inline">
          <div class="form-group">
            <label for="height">Height: </label>
            <input type="number" name="height" class="form-control" ng-model="user.height">
          </div>
          <br />
          <div class="form-group">
            <label for="weight">Weight: </label>
            <input type="number" name="weight" class="form-control" ng-model="user.weight">
          </div>
          <br>
          <button type="button" class="btn btn-default margin" name="button" ng-click="calculator.computeBmi(user)">Compute BMI</button>
        </form>
      </div>
      <p ng-if="calculator.bmi">
        {{calculator.bmi}}
      </p>
      </p>
    </div>
  </div>
</div>
