<div class="row hidden" id="bmi" ng-controller="calculatorController as calculator">
  <div class="container">
    <div class="jumbotron text-center">
      <div class="row">
        <h3>BMI Calculator</h3>
        <div class="col-xs-offset-4 col-xs-4">
          <form class="form-inline">
            <div class="form-group">
              <label for="height">Height: </label>
              <div class="input-group">
                <input type="number" name="height" class="form-control" ng-model="user.height">
                <div class="input-group-addon">in.</div>
              </div>
            </div>
            <div class="form-group margin1">
              <label for="weight">Weight: </label>
              <div class="input-group">
                <input type="number" name="weight" class="form-control" ng-model="user.weight">
                <div class="input-group-addon">lbs.</div>
              </div>
            </div>
            <br>
          </form>
          <button type="button" class="btn btn-default margin1" name="button" ng-click="calculator.computeBmi(user)">Compute BMI</button>
          <p ng-if="calculator.bmi">
            Your BMI is {{calculator.bmi}}.
            <br />
            Your are in the {{calculator.bmiCategory}} category.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
