<div id="planDay3Form" class="hidden panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">What do you want to do on the third day?</h3>
  </div>
  <div data-id="planMaker.day4()" class="panel-body">
    <form id="day3Form">
      <div class="form-group">
        <label for="dayName">Name your day</label>
        <input type="text" name="dayName" ng-model="dayName"value="" placeholder="'Monday' or 'Leg Day'">
      </div>
      <br>
      <button type="button" class="btn btn-primary" name="restButton" ng-click="planMaker.plan.day3.rest = true; planMaker.plan.day3.name = dayName; planMaker.day4(); dayName='';">Rest Day</button>
      <button type="button" class="btn btn-primary" name="workoutButton" ng-click="planMaker.day3.prototype.showWorkout(dayName)">Workout Day</button>
    </form>
    <form id="day3WorkoutForm" class="hidden">
      <div class="form-group">
        <label for="workoutName">Workout:</label>
        <input type="text" ng-model="match.asyncSelected" placeholder="search exercises" uib-typeahead="exercises for exercises in planMaker.getExercise($viewValue)" typeahead-loading="loadingExercises" typeahead-no-results="noResults" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="sets">Sets:</label>
        <input type="number" name="sets" ng-model="match.sets"value="">
      </div>
      <div class="form-group col-md-6">
        <label for="workoutName">Reps:</label>
        <input type="number" name="reps" ng-model="match.reps" value="">
      </div>
      <button type="button" class="btn  btn-sm btn-primary" name="addAnotherExercise" ng-click="planMaker.day3.prototype.selectMatch(match.asyncSelected, match.sets, match.reps); match.asyncSelected = ''; match.sets=''; match.reps =''; dayName='';">Add Workout</button>
      <hr>
      <button id="planDay3FormBtn" type="button" class="btn btn-primary" ng-click="planMaker.day4()" name="planDay3FormBtn">Continue to Next Day</button>
    </form>
  </div>
</div>
