<div class="row">
  <planname></planname>
  <planlength></planlength>
</div>
<hr>
<div class="row clearfix" ng-if="plan.selectedDay">
  <selectedday></selectedday>
  <br>
  <div class="panel panel-default" ng-repeat="x in plan.selectedDay.exercises">
    <div class="panel-body clearfix" >
      <div class="col-md-3 clearfix">
        <div class="text-center">
          <h5>{{x.name}}</h5>
          <h5><small>Goal</small></h5>
          <h6>Sets: {{x.numOfSets}}</h6>
          <h6>Sets: {{x.numOfReps}}</h6>
          <button type="button" class="btn btn-sm btn-default" ng-click="plan.open(x.name)"name="button">Exercise Guide</button>
        </div>
      </div>
      <div class="col-md-7">
        <table class="table table-bordered table-hover table-condensed">
          <tr class="table-class">
            <td ng-repeat="z in x.sets">
              {{z.name}}
            </td>
          </tr>
          <tr>
            <td ng-repeat="z in x.sets">
              Reps: <a href="#" editable-number="z.reps" e-name="sets" onaftersave="plan.save(x.sets)" e-min="0">{{z.reps}}</a>
            </td>
          </tr>
          <tr>
            <td ng-repeat="z in x.sets">
              Weight: <a href="#" editable-number="z.weight" e-name="reps" onaftersave="plan.save(x.sets)" e-min="0">{{z.weight}}</a> Lbs.
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-2 text-center">
        <button type="button" class="btn btn-sm btn-success center" ng-click="plan.addSet(x.sets)" name="button">Add Another Set</button>
      </div>
      <br>
    </div>
  </div>
</div>
